
//darkmode colors

$dm-primary-background: #0f172a;
$dm-secondary-background: #161e31;
$dm-primary-titles: #f8fafc;
$dm-secondary-titles: #94a3b8;
$dm-secondary-icons: #cbd5e1;
$dm-shadowBox: -1px 2px 11px 0px #ffffff;
