.navbar {
  height: 50px;
  border-bottom: 2px solid rgb(227, 227, 227);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;
  .wrapper {
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    box-sizing: border-box;
    .search {
      display: flex;
      min-width: 0;
      flex: 1;
      max-width: 50%;
      align-items: center;
      border: 0.5px solid lightgrey;
      border-radius: 10px;
      padding: 4px;
      input {
        flex: 1;
        width: 0;
        border: none;
        outline: none;
        background-color: transparent;
        &::placeholder {
          font-size: 12px;
          padding-left: 2px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;
      gap: 23px;

      .item {
        display: flex;
        align-items: center;
        position: relative;
        &:nth-child(1) {
          gap: 5px;
        }
        p {
          color: black;
          font-size: 18px;
        }
        .icon {
          font-size: 20px;
          cursor: pointer;
        }
        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .counter {
          background-color: red;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bolder;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .navbar .wrapper .items .item {
    display: none;
  }
  .navbar .wrapper {
    justify-content: center;
    align-items: center;
  }
}
