.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}
.listSearch {
  flex: 1;
  background-color: #003580;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}
.listResult {
  flex: 3;
}
.lsTitle{
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
}
.lsItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.lsItem>label{
  font-size: 14px;
  margin-bottom: 3px;
}
.lsItem>span{
  height: 30px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.lsItem>input{
height: 30px;
border: none;
padding: 5px;
border-radius: 10px;
}
.lsOptionItem{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 5px;
  color: #555;
}
.lsOptionInput{
  width: 50px;
  border-radius: 10px;
  border: none;
}
.lsOptionItem>span{
  margin-bottom: 5px;
}
.lsOptions{
  padding: 10px;
}
.listSearch .btn--searchButton{
  width: 100%;
}

.lsOptionText{
  color: white;
}

@media(max-width:1000px){
.listWrapper{
  flex-direction: column;
  align-items: center;
}
.listSearch {
  background-color: #003580;
  padding: 10px;

  text-align: center;
  border-radius: 10px;
  position: relative;
  width: 80%;
}
.lsOptionItem{
  display: flex;
justify-content: center;
align-items: center;

}
.lsOptionInput{
  width: 100px;
}}