.btn {
  border: 1px solid white;
  background-color: #003580;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}
.btn--navButton {
  padding: 10px 15px;
}
.btn--searchButton {
  padding: 10px;
}
.btn--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
