.searchItem {
  border: 1px solid lightgray;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  gap: 20px;
  margin-bottom: 10px;
}

.siImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.siDesc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 2;
}
.siTitle {
  font-size: 25px;
  font-weight: bold;
}
.siDistance {
  font-size: 15px;
}
.siTaxiOp {
  font-size: 15px;
  background-color: #008009;
  color: white;
  width: max-content;
  padding: 5px;
  border-radius: 5px;
}
.siSubtitle {
  font-size: 15px;
  font-weight: bold;
}
.siFeatures {
  font-size: 15px;
}
.siCancelOp {
  font-size: 15px;
  color: #008009;
  font-weight: bold;
}
.siCancelOpSubtitle {
  font-size: 15px;
  color: #008009;
}

.siDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.siRating {
  display: flex;
  justify-content: space-between;
}
.siRating > span {
  font-weight: bold;
}

.siDetailTexts {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.siPrice {
  font-size: 20px;
}
.siTaxOp {
  font-size: 15px;
  color: gray;
}

