.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}
.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}
.headerContainer.listMode {
  margin: 20px 0px 20px 0px;
}
.headerList {
  display: flex;
  gap: 80px;
}
.headerListItem {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 15px;
}
.headerTitle {
  margin: 40px 0px;
  font-size: 40px;
  font-weight: 700;
}
.headerDesc {
  font-size: 20px;
}
/* search */
.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid rgb(243, 246, 65);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 10px;
  position: absolute;
  bottom: -25px;
  width: 80%;
  max-width: 1024px;
  left: 50%;
  z-index: 1000;
  transform: translateX(-50%);
}
.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.headerSearchInput {
  border: none;
  outline: none;
}
.headerSearchText {
  color: gray;
  cursor: pointer;
}
.headerIcon {
  color: gray;
}

.date {
  position: absolute;
  top: 50px;

  z-index: 1000;
}
.headerButton {
  padding: 6px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}
/* options */
.options {
  position: absolute;
  top: 50px;
  background-color: white;
  color: gray;
  border-radius: 10px;
  padding: 20px;
  z-index: 999;
}
.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
}
.optionCounterButton {
  border: 1px solid black;
  cursor: pointer;
}
.optionCounterNumber {
  color: black;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .headerList {
    gap: 20px;
    flex-direction: column;
  }
  .headerContainer {
    margin-bottom: 220px;
    padding: 15px;
  }
  .headerSearch {
    flex-direction: column;
    height: auto;
    width: calc(100% - 40px);
    gap: 15px;
    padding: 15px;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
  }
  .date {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
  .options {
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
}
@media (max-width: 1040px) {
  .headerContainer {
    padding: 15px;
  }
}
