.footer{
    margin-top: 40px;
    width: 100%;
    max-width: 1024px;
    font-size: 13px;
}
.fLists{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.fListItem{
margin-bottom: 10px;
cursor: pointer;
color: #003580;
}
