.navbar{
    height: 60px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}
.navContainer{
 width: 100%;
 max-width: 1024px;
 margin: 0px 30px;
 color: white;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.logo{
    font-weight: 500;
    font-size: larger;
}
.navItems{
display: flex;
gap: 20px;
}

@media (max-width: 480px) {
  .navItems{
    gap: 10px;
  }
}
